[Unit]
Description=Restrict published Docker ports to the local network
After=docker.service network-online.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/iptables -I DOCKER-USER 1 -i wlp3s0 ! -s 192.168.1.0/24 -m conntrack --ctstate NEW -j DROP
ExecStop=/usr/sbin/iptables -D DOCKER-USER -i wlp3s0 ! -s 192.168.1.0/24 -m conntrack --ctstate NEW -j DROP

[Install]
WantedBy=multi-user.target
